
CREATE PROCEDURE [INSERT_OR_UPDATE](
@COD_DP INT, @NOME_RESP VARCHAR(150), @USUARIO_RESP VARCHAR(50), @EMAIL_RESP VARCHAR(50)
)
AS
BEGIN
	IF EXISTS(SELECT TOP 1 1 FROM DEPARTAMENTOS WHERE COD_DEPART = @COD_DP)
	BEGIN
		UPDATE DEPARTAMENTOS
		SET NOME_RESP = @NOME_RESP, USUARIO_RESP = @USUARIO_RESP, EMAIL_RESP = @EMAIL_RESP
		WHERE COD_DEPART = @COD_DP
	END
	ELSE
	BEGIN
		INSERT INTO DEPARTAMENTOS(COD_DEPART,NOME_RESP,USUARIO_RESP,EMAIL_RESP)VALUES( @COD_DP,@NOME_RESP, @USUARIO_RESP,@EMAIL_RESP)
	END
END